.suKien {
    .container {
        .suKienTitle {
            width: 100%;
            padding: 15px;
            font-weight: bold;
            font-size: 18px;
            background-color: #CD2122;
            color: white;
            text-align: center;
            margin: 40px 0;
        }
        .suKienContent {
            .rowLon {
                .suKienLeft {
                    .suKienItemLeft {
                        margin-bottom: 20px;
                        .rowLeft {
                            .col-lg-5 {
                                img {
                                    width: 348px;
                                    height: 167px;
                                }
                            }
                            .col-lg-7 {
                                .itemTitle {
                                    font-weight: 600;
                                    font-size: 17px;
                                    transition: .5s;
                                    &:hover {
                                        color: #CD2122;
                                        cursor: pointer;
                                    }
                                }
                                .itemText {
                                    margin-top: 10px;
                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                .suKienRight {
                    .title {
                        font-weight: 600;
                        font-size: 17px;
                    }
                    .content {
                        .suKienItemRight {
                            margin-bottom: 20px;
                            .rowRight {
                                .col-lg-5 {
                                    padding: 5px;
                                    background: #CD2122;
                                    color: white;
                                    p {
                                        font-size: 30px;
                                        font-weight: 500;
                                        margin: 0 0 0 10px;
                                    }
                                    span {
                                        font-size: 17px;
                                        margin: 0 0 0 10px;
                                    }
                                    hr {
                                        margin: 2px;
                                    }
                                }
                                .col-lg-7 {
                                    font-weight: 600;
                                    transition: 0.5s;
                                    font-size: 15px;
                                    &:hover {
                                        color: #CD2122;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
