<section>
    <div class="suKien">
        <div class="container">
            <div class="suKienTitle">
                TRANG SỰ KIỆN
            </div>
            <div class="suKienContent">
                <div class="row rowLon">
                    <div class="col-lg-9 suKienLeft">
                        <div class="suKienItemLeft">
                            <div class="row rowLeft">
                                <div class="col-lg-5">
                                    <img src="./../../../assets/img/imgSuKien1.jpg" alt="" />
                                </div>
                                <div class="col-lg-7">
                                    <div class="itemTitle">Seminar: Các thông số nhiệt hóa và cơ chế phát triển của cụm Silicon pha tạp Boron</div>
                                    <div class="itemText">
                                        <p><img src="./../../../assets/img/logoCalendar.PNG" alt="">từ 14:00 đến 16:00 ngày 15/05/2020</p>
                                        <p><img src="./../../../assets/img/logoAddress.PNG" alt="">Phòng họp C, Đại học Tôn Đức Thắng; 19 Nguyễn Hữu Thọ, Phường Tân Phong, Quận 7, Thành phố Hồ Chí Minh</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suKienItemLeft">
                            <div class="row rowLeft">
                                <div class="col-lg-5">
                                    <img src="./../../../assets/img/imgSuKien2.jpg" alt="" />
                                </div>
                                <div class="col-lg-7">
                                    <div class="itemTitle">Cơ hội việc làm tại Trường quốc tế Việt Nam-Phần Lan</div>
                                    <div class="itemText">
                                        <p><img src="./../../../assets/img/logoCalendar.PNG" alt="">08:00 đến 10:00; ngày 07/3/2020 (thứ Bảy)</p>
                                        <p><img src="./../../../assets/img/logoAddress.PNG" alt="">Trường quốc tế Việt Nam - Phần Lan; Số 01, Đường D1, Phường Tân Phong, Quận 7, Thành phố Hồ Chí Minh.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suKienItemLeft">
                            <div class="row rowLeft">
                                <div class="col-lg-5">
                                    <img src="./../../../assets/img/imgSuKien3.jpg" alt="" />
                                </div>
                                <div class="col-lg-7">
                                    <div class="itemTitle">Cuộc thi khởi nghiệp: TNMT Startup Wings 2020</div>
                                    <div class="itemText">
                                        <p><img src="./../../../assets/img/logoCalendar.PNG" alt="">Từ 30/10/2019 đến 28/2/2020</p>
                                        <p><img src="./../../../assets/img/logoAddress.PNG" alt="">19 Nguyễn Hữu Thọ, Phường Tân Phong, Quận 7, Thành phố Hồ Chí Minh</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 suKienRight">
                        <div class="title">
                            SỰ KIỆN MỚI
                        </div>
                        <div class="content">


                            <div class="suKienItemRight">
                                <div class="row rowRight">
                                    <div class="col-lg-5">
                                        <p>28</p>
                                        <hr/><span>Tháng 2</span></div>
                                    <div class="col-lg-7">Cuộc thi khởi nghiệp: TNMT Startup Wings 2020</div>
                                </div>
                            </div>
                            <div class="suKienItemRight">
                                <div class="row rowRight">
                                    <div class="col-lg-5">
                                        <p>30</p>
                                        <hr/><span>Tháng 12</span></div>
                                    <div class="col-lg-7">Seminar khoa học tháng 12/2019</div>
                                </div>
                            </div>
                            <div class="suKienItemRight">
                                <div class="row rowRight">
                                    <div class="col-lg-5">
                                        <p>29</p>
                                        <hr/><span>Tháng 11</span></div>
                                    <div class="col-lg-7">Ngày hội việc làm TNMT (TNMT Job Fair) 2019</div>
                                </div>
                            </div>
                            <div class="suKienItemRight">
                                <div class="row rowRight">
                                    <div class="col-lg-5">
                                        <p>15</p>
                                        <hr/><span>Tháng 9</span></div>
                                    <div class="col-lg-7">Seminar: Sản xuất tinh dầu tràm gió giàu hoạt chất cineole</div>
                                </div>
                            </div>
                            <div class="suKienItemRight">
                                <div class="row rowRight">
                                    <div class="col-lg-5">
                                        <p>02</p>
                                        <hr/><span>Tháng 9</span></div>
                                    <div class="col-lg-7">Tọa đàm: Du lịch thời kỳ 4.0: cánh cửa sự nghiệp cho nguồn nhân lực trẻ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
