<section>
    <div class="footer">
        <div class="container">
            <div class="row rowLon">
                <div class="col-lg-9 lienHe">
                    <div class="row rowLienHe">
                        <div class="col-lg-3 item">
                            <div class="title">GIÁO DỤC</div>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li>
                                        <a>Danh mục ngành</a
                    >
                  </li>
                  <li>
                    <a
                      >Hướng dẫn học vụ</a
                    >
                  </li>
                  <li><a >Sinh viên</a></li>
                                    <li>
                                        <a>Công khai thông tin</a
                    >
                  </li>
                  <li>
                    <a target="_blank"
                      >Tra cứu văn bằng</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 item">
              <div class="title">KHOA HỌC-CÔNG NGHỆ</div>
              <div class="content">
                <ul class="list-unstyled">
                  <li>
                    <a
                      >Danh mục ngành</a
                    >
                  </li>
                  <li>
                    <a>Hướng dẫn học vụ</a
                    >
                  </li>
                  <li><a >Sinh viên</a></li>
                                    <li>
                                        <a>Công khai thông tin</a
                    >
                  </li>
                  <li>
                    <a target="_blank"
                      >Tra cứu văn bằng</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 item">
              <div class="title">ĐƠN VỊ TRỰC THUỘC</div>
              <div class="content">
                <ul class="list-unstyled">
                  <li><a >Khoa-Trường</a></li>
                                    <li>
                                        <a>Viện-Trung tâm</a>
                                    </li>
                                    <li><a>Phòng-Ban</a></li>
                                    <li>
                                        <a>Trường quốc tế Việt Nam-Phần Lan</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 item">
              <div class="title">THÔNG TIN</div>
              <div class="content">
                <ul class="list-unstyled">
                  <li><a>Liên hệ</a></li>
                                    <li><a href="/tuyen-dung">Tuyển dụng</a></li>
                                    <li>
                                        <a target="_blank">
                      Trải nghiệm</a
                    >
                  </li>
                  <li><a target="_blank" href="#"> Website cũ</a></li>
                                    <li><a> Sơ đồ trang</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 diaChi">
                    <div class="title">
                        ĐẠI HỌC TÀI NGUYÊN MÔI TRƯỜNG
                    </div>
                    <div class="content">
                        <div>
                            Số 19 Nguyễn Hữu Thọ, Phường Tân Phong, Quận 7, TP. Hồ Chí Minh, Việt Nam.
                        </div>
                        <div class="description">
                            Kết nối với TNMT
                            <a href="https://www.facebook.com/hcmunre/" target="_blank"><img src="./../../../assets/img/logoFooter1.png" width="25px" /></a>
                            <a href="https://www.youtube.com/channel/UCiMhrbO9ZYdFZEGtelGypxQ" target="_blank"><img src="./../../../assets/img/logoFooter2.png" width="25px" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyRight">Copyright © 2020 Đại học Tài Nguyên Môi Trường</div>
    </div>
</section>
