.gioiThieu1 {
    margin: 50px 0;
    .gioiThieu1Title {
        font-size: 25px;
        font-weight: bold;
        color: #0067AC;
        text-align: center;
        margin-bottom: 30px;
    }
    .gioiThieu1Text {
        color: #555;
        font-size: 20px;
        text-align: center;
        max-width: 980px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .row1 {
        .col-lg-4 {
            padding: 10px;
            background-color: #CD2122;
            margin: 0 0 30px 10px;
            width: 370px;
            height: 119px;
            font-size: 16px;
            color: white;
            padding: 30px;
            letter-spacing: 0.3px;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
    .row2 {
        .col-lg-3 {
            text-align: center;
            img {
                width: 32px;
                height: 32px;
            }
            p {
                display: grid;
                font-size: 30px;
                line-height: 30px;
                font-weight: 700;
                margin: 15px 0;
                color: #CD2122;
                span {
                    margin-top: 15px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: black;
                }
            }
        }
    }
}

.gioiThieu3,
.gioiThieu4,
.gioiThieu5,
.gioiThieu6 {
    .gioiThieu3Title,
    .gioiThieu4Title,
    .gioiThieu5Title,
    .gioiThieu6Title {
        font-size: 25px;
        font-weight: bold;
        color: #0067AC;
        text-align: center;
        margin-bottom: 30px;
    }
    .row {
        .col-lg-4 {
            img {
                width: 370px;
                height: 230px;
            }
            .title {
                font-size: 16px;
                font-weight: 600;
                margin: 15px 0;
                transition: 1s;
                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
            .text {
                font-size: 16px;
                line-height: 1.8;
                display: grid;
                a {
                    color: #CD2122;
                    margin: 10px 0;
                }
            }
        }
    }
}

.gioiThieu5 {
    .col-lg-4 {
        img {
            transition: 1s;
            &:hover {
                transform: scale(1.1);
                ;
            }
        }
    }
}

.gioiThieu6 {
    background-color: #F6F6F6;
    margin: 50px 0 0 0;
    padding: 50px 0;
    .col-lg-6 {
        .rowNho {
            .col-lg-4 {
                img {
                    width: 200px;
                    height: 117px;
                }
            }
            .col-lg-8 {
                padding: 15px 0 0 30px;
                p {
                    margin-top: 15px;
                    color: #CD2122;
                    font-weight: 600;
                    span {
                        color: #bbb;
                    }
                }
            }
        }
    }
}
