<section>
    <div class="khoa">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa1.jpg" alt="" />
                    <p>Dược</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa2.jpg" alt="" />
                    <p>Kế toán</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa3.jpg" alt="" />
                    <p>
                        Khoa học ứng dụng
                    </p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa4.jpg" alt="" />
                    <p>Công nghệ thông tin</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa7.jpg" alt="" />
                    <p>Khoa học thể thao</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa8.jpg" alt="" />
                    <p>Khoa học xã hội & nhân văn</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa9.jpg" alt="" />
                    <p>Kỹ thuật công trình</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa10.jpg" alt="" />
                    <p>Lao động & Công đoàn</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa11.jpg" alt="" />
                    <p>Luật</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa12.jpg" alt="" />
                    <p>Môi trường & Bảo hộ lao động</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa13.jpg" alt="" />
                    <p>Mỹ thuật công nghiệp</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa14.jpg" alt="" />
                    <p>Ngoại ngữ</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa15.jpg" alt="" />
                    <p>Quản trị kinh doanh</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa19.jpg" alt="" />
                    <p>
                        Điện - Điện tử
                    </p>
                </div>

                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa17.jpg" alt="" />
                    <p>Tài chính - Ngân hàng</p>
                </div>
                <div class="col-lg-3">
                    <img src="./../../../assets/img/imgKhoa18.jpg" alt="" />
                    <p>Toán - Thống kê</p>
                </div>
            </div>
        </div>
    </div>
</section>
