<div class="chung">
    <section>
        <div class="banner">
            <div class="banner-img">
                <img class="" src="./../../../assets/img/imgBanner1.jpg" alt="" />
                <div class="linkXemChiTiet">
                    <a href="https://www.TNMT.edu.vn/tin-tuc/2020-05/tu-chu-toan-dien-la-nhan-ket-qua-xep-hang-dai-hoc-la-qua">Xem Chi Tiet</a
          >
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="tinTuc" id="tinTuc">
      <div class="container">
        <div class="title">TIN TỨC</div>
        <div class="content">
          <div class="row">
            <div class="col-lg-4 col-md-3">
              <img src="./../../../assets/img/imgTinTuc1.jpg" alt="" />
              <div class="tinTucConTent">
                <div class="tinTucTitle">
                  <a href="/tinTuc" hreflang="vi"
                    >SDTC của Đại học TNMT hợp tác với Tổ chức Oxfam Việt Nam</a
                  >
                </div>
                <div class="tinTucText">
                  <div class="text1">
                    <p>QUAN HỆ CỘNG ĐỒNG</p>
                    | 09/06/2020
                  </div>
                  <div class="text2">
                    Hai bên đã trao đổi các nội dung dự kiến hợp tác thuộc
                    chương trình, dự án nghiên cứu liên quan đến người lao động.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <img src="./../../../assets/img/imgTinTuc2.jpg" alt="" />
              <div class="tinTucConTent">
                <div class="tinTucTitle">
                  <a href="/tinTuc" hreflang="vi"
                    >Khai giảng Lớp trung cấp lý luận chính trị-hành chính</a
                  >
                </div>
                <div class="tinTucText">
                  <div class="text1">
                    <p>HOẠT ĐỘNG CHUNG</p>
                    | 09/06/2020
                  </div>
                  <div class="text2">
                    TNMT phối hợp cùng Trường cán bộ quản lý giáo dục Thành phố
                    Hồ Chí Minh đã tổ chức Lễ khai giảng Lớp trung cấp lý luận
                    chính trị - hành chính năm 2020
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <img src="./../../../assets/img/imgTinTuc3.png" alt="" />
              <div class="tinTucConTent">
                <div class="tinTucTitle">
                  <a href="/tinTuc" hreflang="vi"
                    >Khoa Quản trị Kinh doanh, trường ĐH TNMT trở thành
                    viên của AACSB</a
                  >
                </div>
                <div class="tinTucText">
                  <div class="text1">
                    <p>TIN TRÊN BÁO</p>
                    | 05/06/2020
                  </div>
                  <div class="text2">
                    AACSB là tổ chức kiểm định danh tiếng nhất thế giới với lịch
                    sử hơn 100 năm hình thành, hoạt động và phát triển; được
                    thành lập tại Hoa Kỳ năm 1916.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ticTucKhac">
          <a href="/tinTuc">Tin Khác >></a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="suKien" id="suKien">
            <div class="container">
                <div class="title">SỰ KIỆN</div>
                <div class="content">
                    <div class="row">
                        <div class="col-lg-4 col-md-3">
                            <img src="./../../../assets/img/imgSuKien1.jpg" alt="" />
                            <div class="suKienConTent">
                                <div class="suKienTitle">
                                    <a href="/suKien" hreflang="vi">Seminar: Các thông số nhiệt hóa và cơ chế phát triển của
                    cụm Silicon pha tạp Boron</a
                  >
                </div>
                <div class="suKienText">
                  <div class="text2">
                    Phòng quản lý phát triển khoa học công nghệ (DEMASTED) Đại
                    học TNMT (TNMT) thông báo Seminar khoa học định kỳ
                    tháng 5/2020
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <img src="./../../../assets/img/imgSuKien2.jpg" alt="" />
              <div class="suKienConTent">
                <div class="suKienTitle">
                  <a href="/suKien" hreflang="vi"
                    >Cơ hội việc làm tại Trường quốc tế Việt Nam-Phần Lan</a
                  >
                </div>
                <div class="suKienText">
                  <div class="text2">
                    VFIS kính mời những ứng viên xuất sắc về chuyên môn; có tâm
                    huyết và sẵn sàng gắn bó với sự nghiệp giáo dục theo mô hình
                    hiện đại, đến tham dự Sự kiện.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <img src="./../../../assets/img/imgSuKien3.jpg" alt="" />
              <div class="suKienConTent">
                <div class="suKienTitle">
                  <a href="/suKien" hreflang="vi"
                    >Cuộc thi khởi nghiệp: TNMT Startup Wings 2020</a
                  >
                </div>
                <div class="suKienText">
                  <div class="text2">
                    Tổng giải thưởng của Cuộc thi lên đến 10.000 USD kèm theo
                    các hỗ trợ khác từ SHTP-IC và các doanh nghiệp trong và
                    ngoài nước.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="suKienkhac">
          <a href="/suKien">Sự Kiện Khác >></a>
                                </div>
                            </div>
                        </div>
    </section>

    <section>
        <div class="gioiThieu" id="gioiThieu">
            <div class="container">
                <div class="title">Tại Sao Chọn Trường Đại Học TNMT Xây Dựng Tương Lai ?</div>
                <div class="content">
                    <div class="row row1">
                        <div class="col-lg-4 col-md-3">
                            <img src="./../../../assets/img/imgGioiThieu1.jpg" alt="" />
                            <div class="gioiThieuConTent">
                                <div class="gioiThieuTitle">
                                    <a href="/gioiThieu" hreflang="vi">1-TNMT là đại học số 1 Việt Nam và Top 1000 đại học tốt
                    nhất thế giới về mọi mặt</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <img src="./../../../assets/img/imgGioiThieu2.jpg" alt="" />
              <div class="gioiThieuConTent">
                <div class="gioiThieuTitle">
                  <a href="/gioiThieu" hreflang="vi"
                    >2-Điều kiện, phương pháp dạy và học chuyên dụng, hiện
                    đại</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <img src="./../../../assets/img/imgGioiThieu3.jpg" alt="" />
              <div class="gioiThieuConTent">
                <div class="gioiThieuTitle">
                  <a href="/gioiThieu" hreflang="vi"
                    >3-Lực lượng chuyên môn hùng mạnh và chuyên nghiệp</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row row2">
            <div class="col-lg-3">
              <img src="./../../../assets/img/imgGioiThieu4.jpg" alt="" />
              <div class="gioiThieuConTent">
                <div class="gioiThieuTitle">
                  <a href="/gioiThieu" hreflang="vi"
                    >4-Chương trình giáo dục đại học và sau đại học tiên tiến</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <img src="./../../../assets/img/imgGioiThieu5.jpg" alt="" />
              <div class="gioiThieuConTent">
                <div class="gioiThieuTitle">
                  <a href="/gioiThieu" hreflang="vi"
                    >5-Môi trường học tập tiêu chuẩn quốc tế 5 sao</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <img src="./../../../assets/img/imgGioiThieu6.jpg" alt="" />
              <div class="gioiThieuConTent">
                <div class="gioiThieuTitle">
                  <a href="/gioiThieu" hreflang="vi"
                    >6-Chuẩn đầu ra của giáo dục đạt tầm quốc tế</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <img src="./../../../assets/img/imgGioiThieu7.jpg" alt="" />
              <div class="gioiThieuConTent">
                <div class="gioiThieuTitle">
                  <a href="/gioiThieu" hreflang="vi"
                    >7-Môi trường rèn luyện tốt nhất</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="totNghiep">
          <div class="row">
            <div class="col-lg-6">
              <div class="container imgSV">
                <img src="./../../../assets/img/imgSV.png" alt="" />
              </div>
            </div>
            <div class="col-lg-6 totNghiepText">
              <div class="title">
                SINH VIÊN TỐT NGHIỆP
              </div>
              <div class="contentTotNghiep">
                <div class="item">
                  <div class="row">
                    <div class="col-lg-1 itemImg">
                      <img src="./../../../assets//img/like.PNG" alt="" />
                    </div>
                    <div class="col-lg-11 itemText">
                      <div class="item-title">
                        Chuyên môn giỏi
                      </div>
                      <div class="item-text">
                        Lý thuyết vững vàng, thực hành thành thạo;
                        <p>100%</p>
                        sinh viên tốt nghiệp TNMT có việc làm trong năm đầu
                        tiên.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-lg-1 itemImg">
                      <img src="./../../../assets//img/like.PNG" alt="" />
                    </div>
                    <div class="col-lg-11 itemText">
                      <div class="item-title">
                        Kỹ năng đa dạng
                      </div>
                      <div class="item-text">
                        Phát triển tối đa năng lực bản thân với các kỹ năng mềm
                        cần thiết: tiếng Anh
                        <p>(IELTS 5.0)</p>
                        , Tin học
                        <p>(MOS 750)</p>
                        , Sinh tồn
                        <p>(bơi 50m)</p>
                        , ...
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-lg-1 itemImg">
                      <img src="./../../../assets//img/like.PNG" alt="" />
                    </div>
                    <div class="col-lg-11 itemText">
                      <div class="item-title">
                        Đạo đức chuẩn mực
                      </div>
                      <div class="item-text">
                        Rèn luyện trong môi trường nghiêm túc:
                        <p>Hiếu thảo</p>
                        với cha mẹ,
                        <p>Thượng tôn</p>
                        pháp luật,
                        <p>Tinh thần phụng sự</p>
                        cộng đồng.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="khoa" id="khoa">
      <div class="container">
        <div class="title">CÁC KHOA NỔI BẬT</div>
        <div class="content">
          <div class="row">
            <div class="item col-lg-3">
              <div class="itemImg">
                <img src="./../../../assets/img/imgKhoa1.jpg" alt="" />
              </div>
              <div class="itemText">
                <a href="/khoa">Y Dược</a>
                                </div>
                            </div>
                            <div class="item col-lg-3">
                                <div class="itemImg">
                                    <img src="./../../../assets/img/imgKhoa2.jpg" alt="" />
                                </div>
                                <div class="itemText">
                                    <a href="/khoa">Kế Toána</a>
                                </div>
                            </div>
                            <div class="item col-lg-3">
                                <div class="itemImg">
                                    <img src="./../../../assets/img/imgKhoa3.jpg" alt="" />
                                </div>
                                <div class="itemText">
                                    <a href="/khoa">Khoa Học Ứng Dụng </a>
                                </div>
                            </div>
                            <div class="item col-lg-3">
                                <div class="itemImg">
                                    <img src="./../../../assets/img/imgKhoa4.jpg" alt="" />
                                </div>
                                <div class="itemText">
                                    <a href="/khoa">Công Nghệ Thông Tin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    </div>
