<section class="header">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-8">
                <a href="#"><img src="./../../../assets//img/imgHeader.png" alt="" /></a>
            </div>
            <div class="col-lg-4" style="margin-top: 20px;">
                <a href="#"><img src="./../../../assets//img/logoHeader2.png" alt="" style="width: 380px; height: 94px;" /></a>
            </div>
        </div>
        <hr/>
        <div class="fix">
            <div class="row d-flex justify-content-end align-items-center">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#tinTuc">Tin Tức  <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#suKien">Sự Kiện</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#gioiThieu">Giới Thiệu </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#khoa">Hệ Thống Các Khoa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" routerLink="/login">Đăng Nhập</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
