<section>
    <div class="trangTinTuc">
        <div class="container">
            <div class="trangTinTucTitle">
                TRANG TIN TỨC
            </div>
            <div class="trangTinTucContent">
                <div class="row rowLon">
                    <div class="col-lg-7 left">
                        <div class="itemImg">
                            <img src="./../../../assets//img/imgTinTuc1.jpg" alt="" />
                        </div>
                        <div class="itemContent">
                            <div class="itemTitle">
                                <a href="/tinTuc" hreflang="vi">SDTC của Đại học TNMT hợp tác với Tổ chức
                  OxfamViệtNam</a
                >
              </div>
              <div class="itemText">
                <div class="text1">
                  <p>QUAN HỆ CỘNG ĐỒNG</p>
                  | 09/06/2020
                </div>
                <div class="text2">
                  Hai bên đã trao đổi các nội dung dự kiến hợp tác thuộc chương
                  trình, dự án nghiên cứu liên quan đến người lao động.
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 right">
            <div class="tinTucRight">
              <div class="row rowRight">
                <div class="col-lg-5">
                  <img src="./../../../assets/img/imgTinTuc2.jpg" alt="" />
                </div>
                <div class="col-lg-7">
                  <div class="text2">
                    Khai giảng Lớp trung cấp lý luận chính trị-hành chính
                  </div>
                  <div class="text1">
                    <p>HOẠT ĐỘNG CHUNG</p>
                    | 09/06/2020
                  </div>
                </div>
              </div>
              <div class="row rowRight">
                <div class="col-lg-5">
                  <img src="./../../../assets/img/imgTinTuc5.jpg" alt="" />
                </div>
                <div class="col-lg-7">
                  <div class="text2">
                    Ký kết thỏa thuận hợp tác giữa UBND tỉnh Bình Thuận và
                    Trường Đại học Tài Nguyên Môi Trường
                  </div>
                  <div class="text1">
                    <p>QUAN HỆ CỘNG ĐỒNG</p>
                    | 08/06/2020
                  </div>
                </div>
              </div>
              <div class="row rowRight">
                <div class="col-lg-5">
                  <img src="./../../../assets/img/imgTinTuc3.png" alt="" />
                </div>
                <div class="col-lg-7">
                  <div class="text2">
                    Khoa Quản trị Kinh doanh, Trường Đại học Tài Nguyên Môi
                    Trường trở thành viên của AACSB
                  </div>
                  <div class="text1">
                    <p>TIN TRÊN BÁO</p>
                    | 05/06/2020
                  </div>
                </div>
              </div>
              <div class="row rowRight">
                <div class="col-lg-5">
                  <img src="./../../../assets/img/imgTinTuc6.png" alt="" />
                </div>
                <div class="col-lg-7">
                  <div class="text2">
                    Chương trình đào tạo của Trường Đại học Tài Nguyên Môi
                    Trường được tổ chức danh tiếng công nhận
                  </div>
                  <div class="text1">
                    <p>QUAN HỆ CỘNG ĐỒNG</p>
                    | 01/06/2020
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="hoatDongChung">
    <div class="container">
      <div class="row rowLon">
        <div class="col-lg-9 left">
          <div class="hoatDongChungTitle">HOẠT ĐỘNG CHUNG</div>
          <div class="hoatDongChungContent">
            <div class="row rowNho">
              <div class="col-lg-4 itemHoatDong">
                <img src="./../../../assets/img/imgHoadDongChung.jpg" alt="" />
                <div class="itemtitle">
                  Khai giảng Lớp trung cấp lý luận chính trị-hành chính
                </div>
                <div class="itemText">
                  TNMT phối hợp cùng Trường cán bộ quản lý giáo dục Thành phố Hồ
                  Chí Minh đã tổ chức Lễ khai giảng Lớp trung cấp lý luận chính
                  trị - hành chính năm 2020
                </div>
              </div>
              <div class="col-lg-4 itemHoatDong">
                <img src="./../../../assets/img/imgHoadDongChung2.jpg" alt="" />
                <div class="itemtitle">
                  Đoàn Ban tuyên giáo trung ương Đảng thăm và làm việc với Đại
                  học TNMT
                </div>
                <div class="itemText">
                  Sáng ngày 11/5/2020, Đoàn đại diện Ban tuyên giáo trung ương
                  Đảng do TS. Nguyễn Đắc Hưng, Vụ trưởng Vụ giáo dục & đào tạo,
                  dạy nghề dẫn đầu đã đến thăm và làm việc ...
                </div>
              </div>
              <div class="col-lg-4 itemHoatDong">
                <img src="./../../../assets/img/imgHoadDongChung3.jpg" alt="" />
                <div class="itemtitle">
                  Họp mặt đầu năm Năm Canh Tý
                </div>
                <div class="itemText">
                  Trong không khí vui vẻ của cả tập thể tại buổi họp mặt đầu
                  năm, GS Lê Vinh Danh đã chúc tất cả thành viên TNMT một năm
                  mới mạnh khỏe, bình an, nhiều yêu thương...
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 right">
          <div class="thongBaoTitle">THÔNG BÁO</div>
          <div class="thongBaoConTent">
            <div class="thongBaoItem">
              <p>
                Thông báo về việc tiếp tục tạm dừng tập trung học tại các cơ sở
                của trường đến hết ngày 03/5/2020
              </p>
              31/03/2020
            </div>
            <div class="thongBaoItem">
              <p>
                Thông báo về việc tiếp tục tạm dừng tập trung học tại các cơ sở
                của Trường đến hết ngày 05/04/2020
              </p>
              26/03/2020
            </div>

            <div class="thongBaoItem">
              <p>
                Thông báo về việc tiếp tục tạm dừng tập trung học tại các cơ sở
                của Trường đến hết ngày 29/03/2020
              </p>
              12/03/2020
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="tinTuc">
    <div class="container">
      <div class="row rowLon">
        <div class="col-lg-6 giaoDuc Shared">
          <div class="giaoDucTitle SharedTitle">GIÁO DỤC</div>
          <div class="giaoDucContent SharedContent">
            <div class="row rowNho">
              <div class="col-lg-6 itemGiaoDuc itemShared">
                <img src="./../../../assets/img/imgGiaoDuc1.jpg" alt="" />
                <div class="itemTile">
                  Chương trình đào tạo thạc sỹ Ngành tài chính-ngân hàng của Đại
                  học TNMT được công nhận bởi Hiệp hội chuyên gia về
                  quản trị rủi ro toàn cầu
                </div>
                <div class="itemContent">
                  Với chứng nhận này, TNMT là đại học đầu tiên tại Việt Nam có
                  chương trình đào tạo bậc thạc sỹ được công nhận bởi GARP.
                </div>
              </div>
              <div class="col-lg-6 itemGiaoDuc itemShared">
                <img src="./../../../assets/img/imgGiaoDuc2.jpg" alt="" />
                <div class="itemTile">
                  Thư chúc mừng Đại học TNMT
                </div>
                <div class="itemContent">
                  GS. TS. Trần Hồng Quân, Chủ tịch Hiệp hội các trường đại học, cao đẳng Việt Nam đã gửi thư chúc mừng thày trò Đại học TNMT.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 KHCN Shared">
          <div class="KHCNTitle SharedTitle">GIÁO DỤC</div>
          <div class="KHCNContent SharedContent">
            <div class="row rowNho">
              <div class="col-lg-6 itemKHCN itemShared">
                <img src="./../../../assets/img/imgKhoa5.png" alt="" />
                <div class="itemTile">
                  Học sinh Lớp 12 có nghiên cứu khoa học với sự hướng dẫn của chuyên gia Đại học TNMT được công bố trên tạp chí thuộc Danh mục ISI
                </div>
                <div class="itemContent">
                  Công trình nghiên cứu do chuyên gia của TNMT hướng dẫn học sinh Đào Ngọc Minh Khuê, Lớp 12, Chuyên Sinh học của Trường PTTH Lê Quý Đôn...

                </div>
              </div>
              <div class="col-lg-6 itemKHCN itemShared">
                <img src="./../../../assets/img/imgKhoa6.jpg" alt="" />
                <div class="itemTile">
                  Nhà khoa học của Đại học TNMT tham gia Hội đồng thẩm định của tạp chí ISI
                </div>
                <div class="itemContent">
                  TS. Nguyễn Đức Hiệp, Trưởng nhóm Nhóm nghiên cứu chất lượng môi trường, khoa học khí quyển và biến đổi khí hậu của TNMT
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="banner">
    <div class="container">
      <img src="./../../../assets/img/imgBannerTinTuc.jpg" alt="" />
      <h2>Campus Life</h2>
      <a href="">KHÁM PHÁ</a>
                            </div>
                        </div>
</section>
